<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        <h2 class="title is-3">Log In</h2>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="field">
            <div class="control">
              <%= f.input :name,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email", class: "input" },
                          wrapper: false,
                          label_html: { class: "label"} %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= f.input :password,
                          required: true,
                          input_html: { autocomplete: "current-password", class: "input" },
                          wrapper: false,
                          label_html: { class: "label"} %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= remember_me_checkbox(f) %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.button :submit, "Log in", class: "button is-primary" %>
            </div>
          </div>
        <% end %>
        <br>
        <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
