<div class="columns is-centered mb-6">
  <div class="column is-two-thirds-tablet is-half-desktop has-background-white-bis">
    <h2 class="title is-3">Log In</h2>
    <%= simple_form_for(resource, as: resource_name, url: new_user_session_path) do |f| %>
      <%= f.error_notification %>
      <div class="field">
        <div class="control">
          <%= f.input :name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "name", class: "input" },
                      wrapper: false,
                      label_html: { class: "label"} %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.input :password,
                      required: true,
                      input_html: { autocomplete: "current-password", class: "input" },
                      wrapper: false,
                      label_html: { class: "label"} %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= remember_me_checkbox(f) %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.button :submit, "Log in", class: "button is-primary" %>
        </div>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>
