<div class="columns is-centered">
  <div class="column is-two-thirds-desktop">
    <div class="tile-wrapper has-background-white">
      <div class="tile">
        <div class="tile-left">
            <img class="tile-img" src="<%= activity_image_src(activity) %>" alt="activity_group_icon">
        </div>
        <div class="tile-right">
          <div class="tile-top">
            <div class="tile-activity-name">
              <strong><%= activity.name %></strong>
            </div>
            <div class="tile-activity-time">
              <%= duration_hours(activity.amount) %><strong>h</strong>
              <%= duration_mins(activity.amount) %><strong>min</strong>
            </div>
          </div>
          <div class="tile-bottom">
              <%= "#{activity.created_at.to_date.strftime("%B %d, %Y")}" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>