
<%= render 'activities/form' %>
<h2 class="title is-3">All Activities</h2>
<% @activities.each do |activity| %>
  <p><%= activity.group.name if activity.group.present? %> </p>
  <p><%= activity.name %> </p>
  <p><%= "#{activity.amount} minutes" %> </p>
  <p><%= "#{activity.created_at}" %> </p>
  <hr>
<% end %>