<!DOCTYPE html>
<html>
  <head>
    <title>Activize</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/774f0ae2db.js" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-navbar-fixed-top">
    <div class="container is-fluid">
      <%= render 'layouts/navbar'%>
      <%= render 'layouts/flash_notice'%>
      <div class="section">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-half">
            <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

